<nav th:fragment="sideFragment" id="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${#httpServletRequest.remoteUser != null}">
        <div class="sidebar-header">
            <span th:inline="text">[[${#httpServletRequest.remoteUser}]] 님</span>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-primary" value="Sign Out"/>
            </form>
        </div>
        <ul id="category" class="list-unstyled components">
            <li class="active">
                <ul class="list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="api/search/count">인기 키워드 목록</a>
                    </li>
                    <li>
                        <a href="api/search/history">검색 히스토리</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>