<div layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="fragments/layout">
    <div class="table">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">시퀀스</th>
                <th scope="col">아이디</th>
                <th scope="col">키워드</th>
                <th scope="col">시간</th>
            </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
    <nav aria-label="..." style="text-align: center;" id="tableNav"></nav>

    <th:block layout:fragment="script">
        <script type="text/javascript">
            $(document).ready(function () {
                searchHistory(1);
            });
            function searchHistory(page){
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/search/history",
                    data: {"page":page},
                    success: function (data) {
                        makeTable(data);
                        makeTableNav(data);

                        console.log("SUCCESS : ", data);
                    },
                    error: function (e) {
                        var json = "<h4>Ajax Response</h4><pre>"
                            + e.responseText + "</pre>";
                        $('#tableBody').html(json);

                        console.log("ERROR : ", e);
                        $("#btn-search").prop("disabled", false);

                    }
                });
            }
            function makeTable(jsonData){
                var tableData = "";

                jsonData['content'].forEach(function(data){
                    tableData += "<tr>";
                    tableData += "  <td>"+data.seq+"</td>";
                    tableData += "  <td>"+data.userId+"</td>";
                    tableData += "  <td>"+data.keyword+"</td>";
                    tableData += "  <td>"+data.regDt+"</td>";
                    tableData += "</tr>";
                });
                $('#tableBody').html(tableData);
            }
            function makeTableNav(jsonData){
                var tableNavData = "";
                var totalPage = jsonData['meta'].pageable_count;
                var currentPage = jsonData['page'];

                tableNavData += "<ul class=\"pagination\" th:with=\"start=${T(Math).floor("+currentPage+"/10)*10 + 1}, last=(${start + 9 < "+totalPage+" ? start + 9 : "+totalPage+"})\">";
                tableNavData += "   <li class='disabled'>";
                tableNavData += "       <a class=\"page-link\" th:onclick=\"|javascript:searchKeyword("+$("#keyword").val()+","+currentPage+")|\">Previous</a>";
                tableNavData += "   </li>";
                tableNavData += "</ul>";

                $('#tableNav').html(tableNavData);
            }
        </script>
    </th:block>
</div>